@import "@/styles/settings";

.c-layer-capabilities {
  display: flex;
  max-height: 15px;
  margin-top: 8px;
  margin-left: 6px;

  .cap-btn {
    height: 100%;
    padding: 0;
    padding-right: 8px;

    :hover {
      fill: $primary-color;
    }
  }

  .c-icon {
    fill: $primary-color;
    height: 12px;
    width: 12px;
  }

  .nrt-indicator {
    fill: $alert;
    margin-left: 2px;
    vertical-align: middle;
    animation: 2.5s blink ease-in-out infinite;
  }
}
