@import "@/styles/settings";

.c-dataset-section {
  position: relative;
  padding: 0 rem(20px);
  margin-bottom: rem(20px);
  padding-bottom: rem(20px);

  &:last-child {
    margin-bottom: rem(50px);
  }

  &.collapsed {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .dataset-header {
    margin-bottom: rem(20px);
    background-color: rgba($primary-color, 0.1);
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;

      font-size: 14px;
      font-weight: 500;
      line-height: 1.1;
      color: $greyish-brown;
      text-transform: uppercase;

      .dataset-count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(14px);
        height: rem(14px);
        background-color: $primary-color;
        border-radius: 100%;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: -0.3px;
        color: $white;
        margin-right: 8px;
      }

      .category-icon {
        margin-right: 8px;
        fill: $primary-color;
      }
    }

    .collapse-icon {
      display: flex;
      align-items: center;
      margin-left: 8px;

      .c-icon {
        fill: $primary-color;
        height: 14px;
        width: 14px;
      }
    }
  }

  .subtitle {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: $hot-grey;
  }

  .text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.3px;

    b {
      font-weight: 500;
    }

    a {
      color: $primary-color;
    }
  }

  .datasets-list {
  }

  // &:not(:last-child) {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     // right: rem(-20px);
  //     left: rem(20px);
  //     width: calc(100% - #{rem(20px)});
  //     height: rem(1px);
  //     background-color: rgba($hot-grey, 0.3);
  //   }
  // }
}
