@import "@/styles/settings.scss";

.c-cookies {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99999;
  background-color: rgba($hw-dark, 0.5);

  a {
    color: $primary-color !important;
  }
}
